body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img#doctor-img
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: visible;
}

#card {
  overflow: visible;
  width: auto;
  height: 350px;
}

.fAVBsF {
  padding: 20px!important;
}

.rec-pagination {
  display: none!important;
}